@import "@/styles/var.scss";

:target::before {
    content: "";
    display: block;
    height: 80px;
    /* 调整这个高度来设置偏移量 */
    margin-top: -80px;
}

.ContentNavComponent {
    .nav_item ::before {
        @apply content-[''] -left-2.5 absolute top-1/2 -translate-y-1/2 w-1 h-[15px] rounded-[20px] bg-primary transition-all duration-700;
    }

    .h2 {
        padding-left: 35px;

        &.active {
            padding-left: 45px;

            &::before {
                left: 30px;
            }
        }
    }

    .h3 {
        padding-left: 55px;

        &.active {
            padding-left: 65px;

            &::before {
                left: 50px;
            }
        }
    }
}