@import "@/styles/var.scss";

.UpAndDownComponent {
    .upAndDown {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;

        // a {
        //     width: 100%;
        //     padding: 10px 0;
        //     margin: 0 10px;
        //     border: 1px solid #eee;
        //     border-radius: $round;
        //     transition: all $move;

        //     &:hover {
        //         border: 1px solid $color;
        //         background-color: #f8fbff;
        //     }

        //     &:hover p:first-child {
        //         color: $color;
        //     }
        // }

        p {
            text-align: center;
            transition: color $move;
        }

        p:first-child {
            font-size: 20px;
        }
    }
}