.ContainerComponent {
    .main {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        margin: 0 auto;

        .left {
            margin: 0 auto;
            transition: width $move;
        }

        .right {
            width: 24%;
            border-radius: $round;
            transition: width $move;

            // 粘性定位
            .sticky {
                position: sticky;
                top: 70px;
            }
        }
    }
}