@import "@/styles/var.scss";

.ContentMdComponent {
    padding-top: 50px;

    .markdown-body {
        // 继承父级字体
        font-family: inherit;

        p {
            line-height: 35px;

            img {
                // 图片模糊
                filter: blur(20px);
                transition: filter 0.7s;

                border-radius: 10px;
                cursor: pointer;
            }
        }
    }
}