body {
    // height: 2000px;
    background-color: #f9f9f9;
}

/* 为整个页面设置滚动条样式 */
::-webkit-scrollbar {
    width: 8px;
}

/* 滚动条槽 */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    background: #539dfd;
    border-radius: 10px;
}

// 文字阴影
.custom_text_shadow {
    text-shadow: 0 0.1875rem 0.3125rem #1c1f21;
}