@import "@/styles/var.scss";

.HeaderComponent {
    .header {
        // &::after {
        //     content: "";
        //     display: block;
        //     width: 100%;
        //     height: 0;
        //     background: linear-gradient(#fff, transparent 70%);
        //     transition: background $move;
        // }

        // 一级导航
        .one {
            // 导航列表
            .one_item {
                img {
                    height: 40px;
                    padding-right: 20px;
                    transition: all $move;
                }

                &:hover img {
                    transition: transform $move;
                    transform: scale(0.9);
                }

                &:hover .one_item_nav {
                    color: $color !important;
                }

                // 二级导航
                .two {
                    .two_item {
                        .two_item_nav {
                            // 鼠标经过的小横线
                            // &::after {
                            //     content: "";
                            //     position: absolute;
                            //     left: 10px;
                            //     top: 50%;
                            //     transform: translateY(-50%);
                            //     width: 0;
                            //     height: 3px;
                            //     background-color: $color;
                            //     transition: width $move;
                            // }
                        }

                        // 鼠标经过二级导航的效果
                        &:hover .two_item_nav {
                            // color: $color !important;
                            // background-color: #f2f2f2;
                            // padding-left: 30px;

                            // &:hover::after {
                            //     width: 10px;
                            // }
                        }
                    }
                }

                // 鼠标经过哪个，就让哪个二级导航显示
                &:hover .two {
                    display: block;
                }
            }
        }

        .top {
            display: none;
            justify-content: center;
            align-items: center;
            height: 60px;

            img {
                height: 50px;
                transition: all $move;
            }

            &:hover img {
                transition: transform $move;
                transform: scale(0.9);
            }

            &:hover .one_item_nav {
                color: $color !important;
            }
        }
    }
}